<div class="" style="width: 100%;height: 100%" class="layout-column flex">
  <!-- <div style="width: 100px">
    <input type="text" [(ngModel)]="userData['name']" />
    <input type="text" [(ngModel)]="userData['pwd']" />
    <button (click)="onLogin()">login</button>
  </div>

  <canvas id="paper" width="1500" height="400" style="border:1px solid #ccc;"></canvas>
  <button id="selec" style="width: 100px">Selection Mode</button>

  <button id="selec" style="width: 100px" (click)="onSelection('circle')">circle</button>
  <button id="selec" style="width: 100px" (click)="onSelection('triangle')">tri</button>
  <button id="selec" style="width: 100px" (click)="onSelection('line')">line</button>
  <button id="selec" style="width: 100px" (click)="onSelection('square')">square</button>
  <button id="selec" style="width: 100px" (click)="onSelection('freestyle')">freestyle</button>
  <button id="selec" style="width: 100px" (click)="deleteObjects()">del</button>
  <button id="selec" style="width: 100px" (click)="clearAll()">clear</button>
  <button id="selec" style="width: 100px" (click)="saveData()">save</button> -->
  <router-outlet></router-outlet>
</div>
